<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/log.css') }}" />
</head>
<body>
<p id="type_cont">
     Welcome to
    <span id="type_text" style="color:lightseagreen"></span>
    <span id="cursor_el"></span>
</p>
<div id="form_div">
    <form action="" method="POST" id="form_box" role="form">
        {{ block }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        {% if "error" != category %}
                            <div class="alert alert-info">
                                <strong>Success!</strong>
                                {{ message }}
                            </div>
                        {% endif %}
                        {% if "error" == category %}
                            <div class="alert alert-warning">
                                <strong>Error: </strong>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {{ endblock }}
        <div class="tab">
        {{ form.csrf_token }}
            <div id="heading">
                <h3>Sign in to start chatting away</h3>
                <h4>use your chat account</h4>
            </div>
            <div id="uname">
                <input type="text" class="username form-control" required="" id="iuname" name="iuname"/>
                <label for="iuname">Username</label>
            </div>
            <div id="psswrd">
                <input type="password" class="password form-control" required="" id="ipsswrd" name="ipsswrd"/>
                <label for="ipsswrd">Password</label>
            </div>
            <div id="sub_but">
                <button id="submit" type="submit" form="form_box" value="Submit">Submit</button>
            </div>
            <span><a href="{{ url_for("reset_password") }}" id="forgot">Forgot Password?</a></span>
            <a href="{{ url_for("new_account") }}" id="new_acc">Create New Account</a>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename="JS/typing.js") }}"></script>
</body>
</html>