<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/signup.css') }}" />
</head>
<body>
<form action="" method="POST" id="form_box">
    <h3>SIGN UP</h3>
    {{ block }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    {% if "error" != category %}
                        <div class="alert alert-info messages">
                            <strong>Success!</strong>
                            {{ message }}
                        </div>
                    {% endif %}
                    {% if "error" == category %}
                        <div class="alert alert-warning messages">
                            <strong>Error: </strong>
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {{ endblock }}
    {{ form.csrf_token }}
    <div id="messages"></div>
    <div class="form_div form_group" id="el1">
        <input type="text" class="entry" required="" id="f_name" name="f_name"/>
        <label for="f_name">First Name</label>
    </div>
    <div class="form_div form_group" id="el2">
        <input type="text" class="entry" required="" id="l_name" name="l_name"/>
        <label for="l_name">Last Name</label>
    </div>
    <div class="form_div form_group" id="el3">
        <input type="text" class="entry" required="" id="email" name="email"/>
        <label for="email">Email Address</label>
    </div>
    <div class="form_div form_group" id="el4">
        <input type="text" class="entry" required="" id="u_name" name="u_name"/>
        <label for="u_name">User Name</label>
    </div>
    <div class="form_div form_group" id="el5">
        <input type="password" class="entry" required="" id="password" name="password"/>
        <label for="password">Create Password</label>
    </div>
    <div class="form_div form_group" id="el6">
        <input type="password" class="entry" required="" id="re_pass" name="re_pass"/>
        <label for="re_pass">Re-enter Password</label>
    </div>
    <div class="form_div" id="el7">
        <button id="submit" type="submit" form="form_box" value="Submit">Submit</button>
    </div>
</form>
</body>
</html>